@font-face {
    font-family: 'minipaxregular';
    src: url('Minipax Variable-webfont.eot');
    src: url('Minipax Variable-webfont.eot?#iefix') format('embedded-opentype'),
         url('Minipax Variable-webfont.woff2') format('woff2'),
         url('Minipax Variable-webfont.woff') format('woff'),
         url('Minipax Variable-webfont.ttf') format('truetype'),
         url('Minipax Variable-webfont.svg#minipaxregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

